body {
    margin: 0;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

.container {
    font-size: 15px;
    width: 100vw;
    height: 100vh;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.grid {
    background-color: rgb(80, 176, 205);
    width: 500px;
    height: 500px;
    display: none;
    flex-direction: row;
    justify-content: center;
    align-items: center;
}

.form {    
    width: 15vw;
}

.options {
    margin: 10px 0;
    display: flex;
    justify-content: space-between;
}

.generateButton {
    background-color: orange;
    border: none;
    border-radius: 5px;
    padding: 10px;
    margin: 10px 40% 30px 40%;
}

.generateButton:hover{
    cursor: pointer;
}

input {
    width: 50px;
}

table {
    border-collapse: collapse;
    background-color: #ddf6ff;
}

td {
    width: 30px;
    height: 30px;
    border: 2px solid black;
    text-align: center;
    font-weight: 700;
}

.bombImage {
    display: block;
    margin: 0 auto;
    width: 25px;
    height: 25px;
}