<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="../stylesheets/home.css">
    <script src="../scripts/game.js"></script>
    <script src="../scripts/auth.js"></script>
    <script src="../scripts/home.js"></script>
    <title>Minefield</title>
</head>

<body>
    <header>
        <h1>Minefield</h1>
        <img src="https://cdn-icons-png.flaticon.com/512/486/486968.png" alt="bomba" />
        <button class="logout" onclick="signOut()"> Trocar de Conta </button>
        <button class="edit" onclick="redirectTo('edit')"> Editar Conta </button>
    </header>
    <section class="inicio" id="inicio">
        <div class="form" id="form">
            <div class="options">
                <label> Quantas linhas? </label>
                <input type="number" name="lines" id="lines">
            </div>
            <div class="options">
                <label> Quantas colunas? </label>
                <input type="number" name="columns" id="columns">
            </div>
            <div class="options">
                <label> Quantas bombas? </label>
                <input type="number" name="bombs" id="bombs">
            </div>
            <div class="mode">
                <label> Qual modo de jogo? </label>
            </div>
            <div class="options">
                <label> Normal </label>
                <input type="radio" name="lines" id="lines">
                <label> Rivotril </label>
                <input type="radio" name="lines" id="lines">
            </div>
            <div class="options buttons">
                <button onclick="generateGame()">Iniciar</button>
                <button onclick="redirectTo('ranking')">Ranking Global</button>
            </div>
        </div>
        <div class="history">
            <h2>Meu Histórico</h2>
            <table class="tableHistory">
                <tr>
                    <th> Dimensões </th>
                    <th> Bombas </th>
                    <th> Modalidade </th>
                    <th> Tempo </th>
                    <th> Resultado </th>
                    <th> Data</th>
                    <th> Hora </th>
                </tr>
            </table>
        </div>
    </section>
    <section class="game" id="game">
        <nav>
            <div class="item">
                <p class="label"> Tempo </p>
                <p class="timerInfo"> 00:00 </p>
            </div>
            <div class="item">
                <p class="label"> Dimensão </p>
                <p class="dimensionInfo"> 30x30 </p>
            </div>
            <div class="item">
                <p class="label"> Modo </p>
                <p class="modeInfo"> Rivotril </p>
            </div>
            <button class="item cheat">
                <p class="label"> Trapaça </p>
                <span class="flag"> OFF </span>
            </button>
        </nav>
        <div class="grid" id="grid">
            <table class="table" id="table">
            </table>
        </div>
        <nav>
            <button class="item quit">
                <span class="flag"> Desistir </span>
            </button>
        </nav>
    </section>
    <section class="modal" id="modal">
        <p> Você perdeu! </p>
        <div class="options">
            <button onclick="">Tela inicial</button>
            <button onclick="">Novo Jogo</button>
        </div>
    </section>
</body>

</html>